# Ignore all .DS_Store files recursively
**/.DS_Store

# Ignore Express folder specific files/folders
Express/node_modules/
Express/.env
Express/package-lock.json


# Ignore Django folder specific files/folders
Django/venv/
Django/db.sqlite3